body {
    position: absolute;
    top: 25em;
    left: 50em;
}
button {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    width: 55px;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    }
#calcDisplay{
    display:block;
    width: 245px;
    height: 70px;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-size: 25px;
    font-weight:400;
    color:rgb(69, 69, 69);
    background-color:#86bfe6;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
}
h4 {
    position: absolute;
    top: 0px;
    right: 5px;
}

button :active {
    top:0.1em;
    }